@page "/"

<Navbar Home="true" />

<main class="mb-40 flex flex-col dark:text-zinc-400">

    <div class="" id="home">
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="ml-auto pt-36">

                <div class="mx-auto text-center lg:w-2/3">
                    <h1 class="text-5xl font-bold text-gray-900 dark:text-zinc-300 md:text-6xl">
                        Introduciendo la nueva generación de aplicaciones
                    </h1>
                    <p class="mt-8 text-zinc-800 dark:text-zinc-400">
                        Potencia tu negocio con LIN Platform, usando
                        nuestras apps de inventario, mapas, chat, gestión de tareas en tiempo real. Optimiza
                        procesos y toma decisiones basadas en datos para resultados excepcionales.
                    </p>
                    <div class="mt-14 flex flex-wrap justify-center gap-x-6 gap-y-4">
                        <a href="#"
                           class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-indigo-500 before:transition before:duration-300 active:duration-75 sm:w-max hover:before:scale-105 active:before:scale-95">
                            <span class="relative text-base font-semibold text-white">Iniciar ahora</span>
                        </a>
                        <a href="#"
                           class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-indigo-500/10 before:bg-gradient-to-b before:transition before:duration-300 active:duration-75 sm:w-max hover:before:scale-105 active:before:scale-95">
                            <span class="text-primary relative text-base font-semibold">
                                Aprender mas
                            </span>
                        </a>
                    </div>
                </div>

                <img class="mt-10 h-auto w-full rounded-xl" src="https://images.unsplash.com/photo-1723118641440-485d9630c3c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            </div>
        </div>
    </div>

    <div id="features" class="mt-20">
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="md:w-2/3 lg:w-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="text-secondary h-6 w-6">
                    <path fill-rule="evenodd"
                          d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                          clip-rule="evenodd"></path>
                </svg>

                <h2 class="my-8 text-2xl font-bold text-zinc-800 dark:text-zinc-300 md:text-4xl">
                    La IA transforma negocios, optimiza procesos y acelera el éxito.
                </h2>
                <p class="text-gray-600 dark:text-zinc-400">
                    En LIN, nuestra IA está integrada de manera inteligente
                    en todos nuestros sistemas. Esto significa que, según el
                    contexto, puedes hacer preguntas específicas o ejecutar acciones directamente. Ya sea en
                    inventario, chat u otras
                    aplicaciones, nuestra IA facilita la interacción y optimiza la toma de decisiones en cada paso
                    del camino.
                </p>
            </div>
            <div class="mt-16 grid divide-x divide-y divide-gray-100 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-zinc-700 dark:divide-zinc-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">

                <Product Picture="./img/box.png" Nombre="Inventory" Content="Gestiona y comparte múltiples inventarios en Windows y Android, fácil y eficaz." />

                <Product Picture="./img/allo.png" Nombre="LIN Allo" Content="Mensajería disponible en web, Windows y Android para enviar mensajes, crear grupos y conversaciones en cualquier momento." />

                <Product Picture="./img/contactos.png" Nombre="Contacts" Content="Tu agendador de contactos personal y profesional para mantener tus conexiones al alcance de tu mano." />

                <Product Picture="./img/apps.png" Nombre="Mas" Content="Mira los otros 20 servicios que tenemos disponibles para ti." />

            </div>
        </div>
    </div>

    <div id="solution" class="mt-20">
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">

            <div class="flex-row-reverse justify-between space-y-6 text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
                <div class="md:5/12 lg:w-1/2">

                    <div class="relative mx-auto h-[172px] max-w-[301px] rounded-t-xl border-gray-800 border-[8px] bg-gray-800 md:h-[294px] md:max-w-[512px]">
                        <div class="h-[156px] overflow-hidden rounded-lg bg-white md:h-[278px]">
                            <img src="./img/orgsScreen.png" class="h-[156px] w-full rounded-xl md:h-[278px]" alt="organización">
                        </div>
                    </div>
                    <div class="relative mx-auto h-[17px] max-w-[351px] rounded-b-xl rounded-t-sm bg-gray-900 md:h-[21px] md:max-w-[597px]">
                        <div class="-translate-x-1/2 absolute left-1/2 top-0 h-[5px] w-[56px] rounded-b-xl bg-gray-800 md:w-[96px] md:h-[8px]"></div>
                    </div>

                </div>
                <div class="md:7/12 lg:w-1/2">
                    <h2 class="mt-1 text-3xl font-bold text-gray-900 dark:text-zinc-300 md:text-4xl">
                        LIN para <span class="text-indigo-500">Organizaciones</span>
                    </h2>
                    <p class="my-8 text-gray-600 dark:text-zinc-400">
                        LIN Human Directory es una plataforma versátil y poderosa que simplifica la gestión
                        empresarial al permitir a los
                        administradores tener un control total sobre las cuentas de usuario, licencias y otros
                        aspectos críticos de la
                        organización.<br><br> Con un enfoque en la eficiencia y la seguridad, LIN Human Directory
                        ofrece a las empresas la capacidad de
                        escalar y adaptarse a medida que crecen, mejorando la colaboración interna y manteniendo un
                        alto nivel de control sobre
                        los recursos.
                    </p>
                    <div class="space-y-4">

                        <div class="mt-8 flex gap-4 md:items-center">
                            <div class="flex h-12 w-12 items-center justify-center gap-4 rounded-full bg-indigo-100">
                                <img src="./img/allo.png" class="h-6 w-6" alt="Icono de LIN Allo" />
                            </div>
                            <div class="w-5/6">
                                <h3 class="text-lg font-semibold text-gray-700 dark:text-zinc-400">
                                    LIN Allo
                                </h3>
                                <p class="text-gray-500 dark:text-zinc-500">
                                    Comunicación adaptada a las empresas
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative mt-20 py-16">
        <div aria-hidden="true"
             class="absolute inset-0 m-auto grid h-max w-full grid-cols-2 -space-x-52 opacity-40">
            <div class="h-56 bg-gradient-to-br from-indigo-500 to-purple-400 blur-[106px]"></div>
            <div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px]"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="relative">
                <div class="flex items-center justify-center -space-x-2">
                    <img loading="lazy" width="400" height="400" src="./avatars/avatar.webp"
                         alt="member photo" class="h-8 w-8 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="./avatars/avatar-2.webp"
                         alt="member photo" class="h-12 w-12 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="https://cdn.pixabay.com/photo/2017/04/04/17/55/people-2202472_1280.jpg"
                         alt="member photo" class="z-10 h-16 w-16 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="./avatars/avatar-4.webp"
                         alt="member photo" class="relative h-12 w-12 rounded-full object-cover">
                    <img loading="lazy" width="200" height="200" src="./avatars/avatar-1.webp"
                         alt="member photo" class="h-8 w-8 rounded-full object-cover">
                </div>
                <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
                    <h2 class="text-center text-4xl font-bold text-gray-800 dark:text-zinc-300 md:text-5xl">
                        Iniciar ahora
                    </h2>
                    <p class="text-center text-xl text-gray-600 dark:text-zinc-400">
                        Únete a la comunidad de LIN
                    </p>
                    <div class="flex flex-wrap justify-center gap-6">
                        <a href="#"
                           class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-indigo-500 before:transition before:duration-300 active:duration-75 sm:w-max hover:before:scale-105 active:before:scale-95">
                            <span class="relative text-base font-semibold text-white">
                                Iniciar Sesión
                            </span>
                        </a>
                        <a href="#"
                           class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-indigo-500/10 before:bg-gradient-to-b before:transition before:duration-300 active:duration-75 sm:w-max hover:before:scale-105 active:before:scale-95">
                            <span class="text-primary relative text-base font-semibold">
                                Mas información
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="blog" class="mt-20">
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="mb-12 space-y-2 text-center">
                <h2 class="text-3xl font-bold text-gray-800 dark:text-zinc-300 md:text-4xl">Últimos artículos</h2>
                <p class="text-gray-600 dark:text-zinc-400 lg:mx-auto lg:w-6/12">
                    Lee los últimos artículos sobre las aplicaciones de LIN y mira las próximas novedades.
                </p>
            </div>
            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                <div class="group rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 dark:border-zinc-800 dark:bg-zinc-800 sm:p-8">
                    <div class="relative overflow-hidden rounded-xl">
                        <img src="https://cdn.pixabay.com/photo/2020/05/22/12/34/aerial-5205254_1280.jpg"
                             alt="art cover" loading="lazy" width="1000" height="667"
                             class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                    </div>
                    <div class="relative mt-6">
                        <h3 class="text-2xl font-semibold text-gray-800">
                            LIN Cloud para desarrolladores
                        </h3>
                        <p class="mb-8 mt-6 text-gray-600">
                            Descubre como Cloud para desarrolladores permite crear soluciones eficientes...
                        </p>
                        <a class="inline-block" href="/blog">
                            <span class="text-info">Leer mas</span>
                        </a>
                    </div>

                </div>
                <div class="group rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 sm:p-8">
                    <div class="relative overflow-hidden rounded-xl">
                        <img src="https://cdn.pixabay.com/photo/2016/12/28/23/13/mail-box-1937391_1280.jpg"
                             alt="art cover" loading="lazy" width="1000" height="667"
                             class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                    </div>
                    <div class="relative mt-6">
                        <h3 class="text-2xl font-semibold text-gray-800">
                            LIN Mail App
                        </h3>
                        <p class="mb-8 mt-6 text-gray-600">
                            Prueba la nueva aplicación de LIN Mail disponible para la web.
                        </p>
                        <a class="inline-block" href="#">
                            <span class="text-info">Leer mas</span>
                        </a>
                    </div>

                </div>
                <div class="group rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 sm:p-8">
                    <div class="relative overflow-hidden rounded-xl">
                        <img src="https://cdn.pixabay.com/photo/2018/06/10/17/39/market-3466906_1280.jpg"
                             alt="art cover" loading="lazy" width="1000" height="667"
                             class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                    </div>
                    <div class="relative mt-6">
                        <h3 class="text-2xl font-semibold text-gray-800">
                            Pagos en línea con Mercado Pago y LIN Cloud Payments
                        </h3>
                        <p class="mb-8 mt-6 text-gray-600">
                            Como integrar recaudación electronica con LIN Payments y Mercado Pago...
                        </p>
                        <a class="inline-block" href="#">
                            <span class="text-info">Leer mas</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

<div class="fixed inset-x-6 bottom-6 z-40 mx-auto w-max">
    <a href="/premium"
       class="flex gap-3 rounded-2xl border border-yellow-900/30 bg-gradient-to-br from-white/50 to-yellow-100 p-3 shadow-2xl shadow-yellow-900/50 backdrop-blur-xl">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="h-5 w-5 text-yellow-600">
            <path fill-rule="evenodd"
                  d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                  clip-rule="evenodd" class=""></path>
        </svg>
        <span class="text-sm font-semibold tracking-wide text-yellow-900">
            Actualizar a LIN+
        </span>
    </a>
</div>
