<!DOCTYPE html>
<html lang="es">

<head>
    <title>LIN Platform</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LIN.Portal.styles.css"]" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="icono.png" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="bg-[#F7F8FD] dark:bg-black">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
