<!DOCTYPE html>
<html lang="es">

<head>
    <title>LIN Platform</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="canonical" href="https://linplatform.com/">
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="./css/tailwind.css" />
    <link rel="stylesheet" href="@Assets["LIN.Portal.styles.css"]" />
    <meta name="description" content="LIN Platform se enfoca en soluciones en la nube eficientes, gestion de inventarios, comunicación en tiempo real.">
    <meta name="keywords" content="LIN Platform, LIN, Plataforma, Inventario, Mensajería, Contactos, Almacenamiento en la nube, NodeJS, MongoDB, Mysql, server, vps">
    <meta name="author" content="LIN Platform">
    <meta property="article:published_time" content="2023-01-01T00:00:00Z">
    <meta name="DC.date" content="2023-01-01">
    <link rel="icon" type="image/png" href="icono.png" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="bg-[#F7F8FD] dark:bg-black">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
