@code{


    [Parameter]
    public bool Home { get; set; }

    [Parameter]
    public bool Solutions { get; set; }

    [Parameter]
    public bool Premium { get; set; }

    [Parameter]
    public string Color { get; set; } = "indigo";




}


<header class="max-w-full">
    <nav class="border-black/5 absolute z-10 w-full border-b lg:border-transparent">
        <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
            <div class="gap-6 py-3 relative flex flex-wrap items-center justify-between md:gap-0 md:py-4">
                <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-max">
                    <a href="/#home" aria-label="logo" class="space-x-2 flex items-center">
                        <div aria-hidden="true" class="space-x-1 flex">

                            <svg class="h-6 w-6 fill-black dark:fill-zinc-400" xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                    <path d="M3075 5110 c-153 -24 -328 -92 -465 -181 -84 -55 -254 -225 -309 -309 -94 -145 -158 -312 -180 -474 -7 -51 -11 -390 -11 -972 0 -830 -1 -894 -17 -894 -9 0 -55 18 -101 41 -152 73 -274 223 -316 385 -10 40 -16 105 -16 183 l0 121 -455 0 -455 0 0 -52 c1 -110 19 -316 35 -393 39 -190 125 -392 238 -560 79 -117 265 -303 382 -382 204 -138 404 -214 675 -257 l35 -6 17 -103 c100 -614 587 -1110 1208 -1232 47 -9 162 -19 258 -22 l172 -6 0 450 0 450 -137 5 c-160 6 -242 29 -349 99 -146 95 -251 264 -269 434 l-6 60 90 37 c219 88 456 251 646 442 345 347 542 752 607 1246 8 62 12 234 12 495 0 448 -5 492 -76 682 -132 350 -446 618 -822 699 -86 19 -308 26 -391 14z m278 -923 c24 -14 57 -45 73 -69 l29 -43 3 -369 c2 -298 0 -385 -13 -459 -42 -244 -154 -456 -335 -637 l-95 -95 -3 750 c-2 570 0 761 10 795 14 54 86 130 138 147 54 19 143 9 193 -20z" />
                                </g>
                            </svg>
                        </div>
                        <span class="text-gray-900 text-2xl font-bold dark:text-zinc-400">LIN Platform</span>
                    </a>

                    <div class="max-h-10 relative flex items-center lg:hidden">
                        <button aria-label="humburger" id="hamburger" class="-mr-6 p-6 relative">
                            <div aria-hidden="true" id="line"
                                 class="h-0.5 w-5 bg-sky-900 m-auto rounded transition duration-300">
                            </div>
                            <div aria-hidden="true" id="line2"
                                 class="mt-2 h-0.5 w-5 bg-sky-900 m-auto rounded transition duration-300">
                            </div>
                        </button>
                    </div>
                </div>
                <div id="navLayer" aria-hidden="true"
                     class="inset-0 bg-white/70 fixed z-10 h-screen w-screen origin-bottom scale-y-0 backdrop-blur-2xl transition duration-500 lg:hidden">
                </div>
                <div id="navlinks"
                     class="left-0 translate-y-1 gap-6 border-gray-100 bg-white p-8 shadow-gray-600/10 invisible absolute top-full z-20 w-full origin-top-right scale-90 flex-col flex-wrap justify-end rounded-3xl border opacity-0 shadow-2xl transition-all duration-300 lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none">
                    <div class="text-gray-600 w-full dark:text-gray-400 lg:w-auto lg:pr-4 lg:pt-0">
                        <ul class="gap-6 flex flex-col tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                            <li class="">
                                <a href="/"
                                   class="block @(Home ? "font-bold":"") transition hover:text-primary md:px-4">
                                    <span class="">Inicio</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/solutions"
                                   class="block @(Solutions ? "font-bold":"") transition hover:text-primary md:px-4">
                                    <span class="">Soluciones</span>
                                </a>
                            </li>
                           
                            <li class="">
                                <a href="/premium" class="gap-2 flex @(Premium ? "font-bold":"") transition hover:text-primary md:px-4">
                                    <span class="">Premium</span>
                                    <span class="bg-@Color-500/20 px-1.5 py-0.5 text-@Color-700 flex rounded-full text-xs tracking-wider">
                                        new
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-12 lg:mt-0">
                        <a href="/register"
                           class="h-9 px-4 relative flex w-full items-center justify-center before:absolute before:inset-0 before:rounded-full before:bg-@Color-500 before:transition before:duration-300 active:duration-75 sm:w-max hover:before:scale-105 active:before:scale-95">
                            <span class="text-white relative text-sm font-semibold">
                                Mi cuenta
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>