@code{

    [Parameter]
    public string Nombre { get; set; }


    [Parameter]
    public string Content { get; set; }


    [Parameter]
    public string GoTo { get; set; } = "/";


    [Parameter]
    public string Picture { get; set; }


    [Parameter]
    public string ColorBadge { get; set; } = "gray";

    [Parameter]
    public string TextBadge { get; set; } = "gray";

    [Parameter]
    public bool Badge { get; set; } = false;


}
@rendermode RenderMode.InteractiveWebAssembly
@inject NavigationManager nav


<div class="group relative bg-white  transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
    <div class="relative space-y-8 py-12 p-8">

        <div>
            <img src="@Picture" class="w-12" width="512"
                 height="512" alt="burger illustration">

            @if (Badge)
            {
                <a class="bg-@ColorBadge-100 mt-2 hover:bg-@ColorBadge-200 text-@ColorBadge-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded  border border-@ColorBadge-400 inline-flex items-center justify-center">@TextBadge</a>
            }
          
        </div>
      
        <div class="space-y-2">
            <h5 class="text-xl font-semibold text-gray-700  transition group-hover:text-secondary">
                @Nombre
            </h5>
            <p class="text-gray-600 ">
                @Content
            </p>
        </div>
        <a @onclick="()=>nav.NavigateTo(GoTo, true)" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Ver mas información.</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                 class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd"
                      d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>
