@page "/about/planner"


<LIN.Portal.Client.Components.Navbar Solutions="true" Color="green" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 ">
            <div class="blur-[106px] h-56 bg-gradient-to-br from-green-500 to-green-400 "></div>
            <div class="blur-[106px] h-32 bg-gradient-to-r from-emerald-400 to-sky-700 "></div>
        </div>
        <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
            <div class="relative pt-36 ml-auto">
                <div class="flex flex-col items-center justify-center lg:w-2/3 text-center mx-auto">

                    <img src="./img/calendar.png" class="h-20 w-20" />
                    <h1 class="text-gray-900  font-bold text-5xl md:text-6xl xl:text-7xl mt-2">
                       LIN <span class="text-sky-500 ">Planner</span>.
                    </h1>
                    <p class="mt-8 text-gray-700 ">
                        Gestion de tareas y proyectos.
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="flex justify-center max-w-7xl mx-auto px-6 mt-10">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-gray-600 text-lg text-justify">

                LIN Planner es tu aliado para una gestión eficiente de proyectos y tareas. Esta aplicación simplifica la planificación y seguimiento de tus proyectos, permitiéndote organizar tareas de manera efectiva. Con LIN Planner, puedes mantener un control total sobre tus proyectos, asignar tareas, establecer fechas límite y asegurarte de que nada se quede atrás. Haz que la gestión de proyectos sea fácil y efectiva con LIN Planner, tu herramienta para lograr más en menos tiempo.
            </p>


            <div class="mx-auto mt-7 grid max-w-2xl grid-cols-1 gap-3 lg:max-w-none lg:grid-cols-2">

                <div class="flex flex-col w-full p-3 border-2 border-gray-200 rounded-lg">
                    <label class="font-bold text-green-600">Organización Intuitiva</label>
                    <label class="text-sm">Destaca por su interfaz intuitiva que facilita la organización de proyectos y tareas..</label>
                </div>

                <div class="flex flex-col w-full p-3 border-2 border-gray-200 rounded-lg">
                    <label class="font-bold text-green-600">Colaboración Eficiente</label>
                    <label class="text-sm">Colaboración con tus amigos, familiares o integrantes de tu organización.</label>
                </div>


            </div>






        </div>
    </div>
</main>