@page "/about/Allo"

<Navbar Solutions="true" />

<main class="max-w-screen mb-40">

    @* Header *@
    <HeaderDescription Tittle="LIN "
                       SubTittle="Mensajería inteligente para organizaciones y personas."
                       DefaultColor="indigo"
                       Picture="https://allo.linplatform.com/favicon.svg"
                       Application="Allo" />

    @* Body *@
    <BodyDescription>

        <PlatformCompatibility Android="true" Windows="true" Web="true" WebUrl="https://allo.linplatform.com" />

        @* Descripción *@
        <p class="text-center text-lg">
            LIN Allo es una app de mensajería que facilita la comunicación entre equipos y personas,
            permitiendo conversaciones personales y grupales. Su integración con la inteligencia artificial
            Emma ofrece respuestas inteligentes y automatización de mensajes para mejorar la productividad.
        </p>

        @* Tarjetas *@
        <CardsDisplay>

            <MiniCard Color="[#5e7ed3]"
                      Tittle="Instantáneo"
                      Description="Envía mensajes personales o grupales en tiempo real con una interfaz rápida y sencilla." />

            <MiniCard Color="[#5e7ed3]"
                      Tittle="Inteligente"
                      Description="Responde preguntas, sugiere respuestas y automatiza mensajes para mejorar la comunicación." />

        </CardsDisplay>

        @* Descripción de características *@
        <SectionDescription Tittle="Características">

            <div class="mt-5 grid gap-10 lg:grid-cols-[30%_70%]">

                 <img src="./img/allo/call.png" class="ml-3 w-full rounded-2xl" />

                 <div class="flex h-full flex-col justify-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-telephone-fill fill-[#5e7ed3]" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    
                    <h5 class="mt-2 text-2xl font-bold text-[#5e7ed3]">Llamadas y videollamadas</h5>
                    <p class="mt-2 max-w-xl">
                        Comunícate sin límites con llamadas y videollamadas de alta calidad,
                        tanto individuales como grupales. LIN Allo ofrece una conexión estable,
                        nítida y segura para mantener reuniones, coordinar proyectos o simplemente
                        conversar con amigos, todo sin salir de la aplicación.
                    </p>

                 </div>
                
            </div>

            <div class="mt-12 grid gap-10 lg:grid-cols-[60%_40%]">

                <div class="flex h-full flex-col justify-center lg:items-end">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-asterisk fill-[#5e7ed3]" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1" />
                    </svg>

                    <h5 class="mt-2 text-2xl font-bold text-[#5e7ed3]">Inteligencia artificial</h5>
                    <p class="mt-2 max-w-xl lg:text-end">
                        Con Emma, tu asistente inteligente integrada en LIN Allo, comunicarte y organizarte nunca fue tan fácil.
                        Emma entiende tus necesidades y te ayuda a automatizar tareas cotidianas dentro de la aplicación:
                        puedes pedirle que envíe mensajes, cree o recuerde eventos en tu calendario.
                    </p>

                </div>

                <img src="./img/allo/emma.png" class="ml-3 w-full rounded-2xl" />

            </div>


            <div class="mt-12 grid gap-10 lg:grid-cols-[30%_70%]">

                <img src="./img/allo/gifs.png" class="ml-3 w-full rounded-2xl" />

                <div class="flex h-full flex-col justify-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-fill fill-[#5e7ed3]" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                    </svg>

                    <h5 class="mt-2 text-2xl font-bold text-[#5e7ed3]">Mensajes y seguridad</h5>
                    <p class="mt-2 max-w-xl">
                        Dentro de los grupos, puedes asignar roles, fijar mensajes importantes, enviar gift divertidos y mencionar usuarios
                        específicos para que nunca pierdan información relevante. Es una solución ideal tanto para
                        equipos de trabajo como para grupos de amigos o comunidades.
                    </p>

                </div>

            </div>

        </SectionDescription>


        @* Descripción de integración *@
        <SectionDescription Tittle="Integración">

            <IntegrationItem Tittle=" LIN Organizations"
                             Description="Integrado en las organizaciones."
                             Picture="./img/empresa.png"
                             Background="bg-zinc-200" />

            <IntegrationItem Tittle="LIN Cloud Developers"
                             Description="Implementa chatbots y soluciones en LIN Allo."
                             Picture="./img/key.png"
                             Background="bg-slate-300" />

        </SectionDescription>

    </BodyDescription>

</main>