@page "/about/Calendar"


<Navbar Solutions="true" Classes="bg-sky-500/20 text-sky-700" />

<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
            <div class="bg-gradient-to-br h-56 from-sky-500 to-sky-400 blur-[106px]"></div>
            <div class="bg-gradient-to-r h-32 from-blue-400 to-sky-700 blur-[106px]"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="relative ml-auto pt-36">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/calendar.png" class="h-20 w-20" />
                    <h1 class="mt-2 text-5xl font-bold text-gray-900 md:text-6xl xl:text-7xl">
                       LIN <span class="text-sky-500">Calendar</span>.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Agenda de eventos.
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="mx-auto mt-10 flex max-w-7xl justify-center px-6">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-justify text-lg text-gray-600">

                LIN Calendar, tu app para guardar eventos y programaciones importantes de manera fácil y rápida. Simplifica tu vida, nunca pierdas un momento crucial. ¡Organiza con simplicidad!

            </p>


            <div class="mx-auto mt-7 grid max-w-2xl grid-cols-1 gap-3 lg:max-w-none lg:grid-cols-2">

                <div class="border-2 flex w-full flex-col rounded-lg border-gray-200 p-3">
                    <label class="font-bold text-sky-600">Inteligente</label>
                    <label class="text-sm">Junto con Emma, Calendar es una alternativa inteligente a otras apps.</label>
                </div>

                <div class="border-2 flex w-full flex-col rounded-lg border-gray-200 p-3">
                    <label class="font-bold text-sky-600">Integrado</label>
                    <label class="text-sm">Calendar esta integrado en otros servicios de LIN para un manejo muy facil.</label>
                </div>


            </div>



            <div class="mt-10 mb-4 flex -space-x-4">
                <div class="border-2 flex w-full items-center justify-center rounded border-dashed border-gray-800 p-4">
                    <label class="text-gray-700">Este producto estará disponible en 2024</label>
                </div>
            </div>




        </div>
    </div>
</main>