@page "/about/Calendar"


<Navbar Solutions="true" Color="sky" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="inset-0 -space-x-52 absolute grid grid-cols-2 opacity-40">
            <div class="h-56 from-sky-500 to-sky-400 bg-gradient-to-br blur-[106px]"></div>
            <div class="h-32 from-blue-400 to-sky-700 bg-gradient-to-r blur-[106px]"></div>
        </div>
        <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
            <div class="pt-36 relative ml-auto">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/calendar.png" class="h-20 w-20" />
                    <h1 class="text-gray-900 mt-2 text-5xl font-bold md:text-6xl xl:text-7xl">
                       LIN <span class="text-sky-500">Calendar</span>.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Agenda de eventos.
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="px-6 mt-10 mx-auto flex max-w-7xl justify-center">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-gray-600 text-justify text-lg">

                LIN Calendar, tu app para guardar eventos y programaciones importantes de manera fácil y rápida. Simplifica tu vida, nunca pierdas un momento crucial. ¡Organiza con simplicidad!

            </p>


            <div class="mt-7 gap-3 mx-auto grid max-w-2xl grid-cols-1 lg:max-w-none lg:grid-cols-2">

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2">
                    <label class="text-sky-600 font-bold">Inteligente</label>
                    <label class="text-sm">Junto con Emma, Calendar es una alternativa inteligente a otras apps.</label>
                </div>

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2">
                    <label class="text-sky-600 font-bold">Integrado</label>
                    <label class="text-sm">Calendar esta integrado en otros servicios de LIN para un manejo muy facil.</label>
                </div>


            </div>



            <div class="mb-4 -space-x-4 mt-10 flex">
                <div class="border-gray-800 p-4 flex w-full items-center justify-center rounded border-2 border-dashed">
                    <label class="text-gray-700">Este producto estará disponible en 2024</label>
                </div>
            </div>




        </div>
    </div>
</main>