@page "/about/Cloud"


<Navbar Solutions="true" Color="blue" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="inset-0 -space-x-52 absolute grid grid-cols-2 opacity-40">
            <div class="h-56 from-blue-500 to-sky-400 bg-gradient-to-br blur-[106px]"></div>
            <div class="h-32 from-sky-400 to-indigo-700 bg-gradient-to-r blur-[106px]"></div>
        </div>
        <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
            <div class="pt-36 relative ml-auto">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/cloud.png" class="h-20 w-20" />
                    <h1 class="text-gray-900 mt-2 text-5xl font-bold md:text-6xl xl:text-7xl">
                       LIN <span class="text-blue-500">Cloud</span>.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Mantén tus archivos y recuerdos protegidos, actualizados y fácilmente accesibles en todos tus dispositivos.
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="px-6 mt-10 mx-auto flex max-w-7xl justify-center">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-gray-600 text-justify text-lg">
                Realiza copias de seguridad de sus archivos, fotos y aplicaciones para que estén disponibles pase lo que le pase a su dispositivo.
            </p>


            <div class="mt-7 gap-3 mx-auto grid max-w-2xl grid-cols-1 lg:max-w-none lg:grid-cols-2">

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2">
                    <label class="text-blue-600 font-bold">Amplio</label>
                    <label class="text-sm">Disfruta de 5GB gratis de almacenamiento.</label>
                </div>

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-xl border-2">
                    <label class="text-blue-600 font-bold">En todos lados</label>
                    <label class="text-sm">Disfruta de LIN Cloud en todos tus dispositivos.</label>
                </div>


            </div>



            <div class="mb-4 -space-x-4 mt-10 flex">
                <div class="border-gray-800 p-4 flex w-full items-center justify-center rounded border-2 border-dashed">
                    <label class="text-gray-700">Este producto estará disponible en 2025</label>
                </div>
            </div>


        </div>
    </div>
</main>