@page "/about/Contacts"


<Navbar Solutions="true" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="inset-0 -space-x-52 absolute grid grid-cols-2 opacity-40">
            <div class="h-56 from-pink-500 to-rose-400 bg-gradient-to-br blur-[106px]"></div>
            <div class="h-32 from-indigo-400 to-indigo-700 bg-gradient-to-r blur-[106px]"></div>
        </div>
        <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
            <div class="pt-36 relative ml-auto">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/contactos.png" class="h-20 w-20" />
                    <h1 class="mt-2 text-gray-900 text-5xl font-bold md:text-6xl xl:text-7xl">
                       LIN <span class="text-pink-500">Contacts</span>.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Gestiona y organiza tus contactos de forma inteligente.
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="mt-10 px-6 mx-auto flex max-w-7xl justify-center">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-gray-600 text-justify text-lg">
                LIN Contacts es una aplicación diseñada para almacenar, organizar y gestionar contactos de manera eficiente. Con herramientas avanzadas como categorización, notas personalizadas y sincronización en la nube, LIN Contacts facilita el acceso a tu red de contactos en cualquier momento y desde cualquier dispositivo.
            </p>


            <div class="mt-7 gap-3 mx-auto grid max-w-2xl grid-cols-1 lg:max-w-none lg:grid-cols-2">

                <div class="border-gray-200 p-3 flex w-full flex-col rounded-lg border-2">
                    <label class="text-pink-600 font-bold">Gestión avanzada de contactos</label>
                    <label class="text-sm">Almacena, organiza y accede fácilmente a toda tu lista de contactos en un solo lugar.</label>
                </div>

                <div class="border-gray-200 p-3 flex w-full flex-col rounded-lg border-2">
                    <label class="text-pink-600 font-bold">Emma IA</label>
                    <label class="text-sm">
                        Busca contactos, encuentra información clave y sugiere acciones inteligentes.
                    </label>
                </div>


            </div>


            <div class="flex w-full flex-col">

                <div class="mt-10">
                    <img class="mb-1 h-7 w-7" src="./icons/people.png" />
                    <label class="text-zinc-600 text-xl font-bold">Eficiente</label>
                    <p class="text-gray-600 text-base">
                        LIN Contacts te permite clasificar contactos en categorías, 
                        asignar etiquetas personalizadas y añadir notas relevantes.
                        Ya sea para gestionar clientes, proveedores o amigos, la organización nunca ha sido tan sencilla.
                    </p>
                </div>

                <div class="mt-5">
                    <img class="mb-1 h-7 w-7" src="./img/arroba.png" />
                    <label class="mt-6 text-zinc-600 text-xl font-bold">Multiplataforma</label>
                    <p class="text-gray-600 text-base">
                        Accede a tus contactos desde cualquier dispositivo con Windows, 
                        Android o la web. Los cambios se actualizan automáticamente en todos tus dispositivos, 
                        garantizando que siempre tengas la información más reciente.
                    </p>
                </div>

                <div class="mt-5">
                    <img class="mb-1 h-7 w-7" src="./icons/privacy.png" />
                    <label class="text-zinc-600 text-xl font-bold">Inteligente</label>
                    <p class="text-gray-600 text-base">
                        Busca contactos por nombre, empresa o etiquetas y deja que Emma te ayude a encontrar información relevante, 
                        detectar duplicados y sugerir recordatorios para mantenerte siempre conectado con las personas clave.
                    </p>
                </div>

            </div>







        </div>
    </div>
</main>