@page "/about/Emma"


<Navbar Solutions="true" />

<main class="max-w-screen mb-40">

    @* Header *@
    <HeaderDescription Tittle="Emma "
                       SubTittle="Asistente inteligente en todas partes"
                       DefaultColor="indigo"
                       Picture="./img/arroba.png"
                       Application="Assistant" />

    @* Body *@
    <BodyDescription>

        @* Descripción *@
        <p class="text-center text-lg">
            Emma es una revolucionaria herramienta de productividad que combina la potencia
            de los avanzados modelos de lenguaje natural con los datos internos de la organización.
            Al colaborar estrechamente con aplicaciones populares como LIN Allo, Contacts, Inventory
            y Planner, Emma ofrece asistencia inteligente en tiempo real a los usuarios. Con su capacidad
            para convertir palabras en acciones eficientes, Emma impulsa la creatividad, la productividad
            y las habilidades de los usuarios, convirtiéndose en una de las herramientas más poderosas para
            optimizar los flujos de trabajo y tareas diarias.
        </p>

        @* Tarjetas *@
        <CardsDisplay>

            <MiniCard Color="indigo"
                      Tittle="Integrado"
                      Description="Emma esta integrada en el ecosistema LIN." />

            <MiniCard Color="indigo"
                      Tittle="Multi modelo"
                      Description="Emma esta basada en el modelo GPT-4 y Gemini 2.0" />

        </CardsDisplay>

        @* Descripción de integración *@
        <SectionDescription Tittle="Integración">

            <IntegrationItem Tittle="Allo"
                             Description="Integrado en tus chats de Allo."
                             Picture="./img/allo.png"
                             Background="bg-indigo-100" />

            <IntegrationItem Tittle="LIN Inventory"
                             Description=" Gestiona tus inventarios y solicita información."
                             Picture="./img/box.png"
                             Background="bg-[#cddfbf]" />

            <IntegrationItem Tittle="LIN Cloud Developers"
                             Description="Implementa Open Assistant en tus aplicaciones."
                             Picture="./img/key.png"
                             Background="bg-slate-300" />

        </SectionDescription>

    </BodyDescription>

</main>