@page "/about/Emma"


<Navbar Solutions="true" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="inset-0 -space-x-52 absolute grid grid-cols-2 opacity-40">
            <div class="h-56 from-blue-500 to-purple-400 bg-gradient-to-br blur-[106px]"></div>
            <div class="h-32 from-indigo-400 to-indigo-700 bg-gradient-to-r blur-[106px]"></div>
        </div>
        <div class="px-6 mx-auto max-w-7xl md:px-12 xl:px-6">
            <div class="pt-36 relative ml-auto">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/arroba.png" class="h-20 w-20" />
                    <h1 class="text-gray-900 mt-2 text-5xl font-bold md:text-6xl xl:text-7xl">
                        <span class="text-indigo-500">Emma</span> Assistant.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Asistente inteligente en todas partes
                    </p>


                </div>

            </div>
        </div>
    </div>

    <div class="px-6 mt-10 mx-auto flex max-w-7xl justify-center">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-gray-600 text-justify text-lg">
                Emma es una revolucionaria herramienta de productividad que combina la potencia
                de los avanzados modelos de lenguaje natural con los datos internos de la organización.
                Al colaborar estrechamente con aplicaciones populares como LIN Allo, Contacts, Inventory
                y Planner, Emma ofrece asistencia inteligente en tiempo real a los usuarios. Con su capacidad
                para convertir palabras en acciones eficientes, Emma impulsa la creatividad, la productividad
                y las habilidades de los usuarios, convirtiéndose en una de las herramientas más poderosas para
                optimizar los flujos de trabajo y tareas diarias.

            </p>


            <div class="mt-7 gap-3 mx-auto grid max-w-2xl grid-cols-1 lg:max-w-none lg:grid-cols-2">

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2">
                    <label class="text-indigo-600 font-bold">Integrado</label>
                    <label class="text-sm">Emma esta integrada en el ecosistema LIN.</label>
                </div>

                <div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2">
                    <label class="text-indigo-600 font-bold">Basado en GPT</label>
                    <label class="text-sm">Emma esta basada en el modelo GPT-4</label>
                </div>


            </div>






            <section class="mt-10">

                <h2 class="text-3xl font-bold">Integrado en</h2>


                <div class="space-y-4 divide-gray-100 divide-y">

                    <div class="mt-8 gap-4 flex md:items-center">
                        <div class="w-12 h-12 gap-4 bg-indigo-100 flex items-center justify-center rounded-full">
                            <img src="./img/allo.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-gray-700 text-lg font-semibold">
                                LIN Allo
                            </h3>
                            <p class="text-gray-500">
                                Integrado en tus chats de Allo
                            </p>
                        </div>
                    </div>

                    <div class="pt-4 gap-4 flex md:items-center">
                        <div class="w-12 h-12 gap-4 bg-blue-100 flex items-center justify-center rounded-full">
                            <img src="./img/box.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-gray-700 text-lg font-semibold">
                                LIN Inventory
                            </h3>
                            <p class="text-gray-500">
                                Gestiona tus dispositivos en tiempo real.
                            </p>
                        </div>
                    </div>

                    <div class="pt-4 gap-4 flex md:items-center">
                        <div class="w-12 h-12 gap-4 bg-slate-300 flex items-center justify-center rounded-full">
                            <img src="./img/key.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-gray-700 text-lg font-semibold">
                                LIN For Developers
                            </h3>
                            <p class="text-gray-500">
                                Implementa LIN Maps en tus propias aplicaciones.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</main>