@page "/about/Inventory"

<Navbar Solutions="true" Classes="bg-emerald-500/20 text-emerald-700" />

<main class="mb-40">

    @* Header *@
    <HeaderDescription Tittle="LIN "
                       SubTittle="Gestión de inventarios inteligente, fácil y en tiempo real"
                       DefaultColor="inventory"
                       Picture="./img/box.png"
                       Application="Inventory" />

    @* Body *@
    <BodyDescription>

        <PlatformCompatibility Android="true" Windows="true" Web="true" />

        @* Descripción *@
        <p class="text-center text-lg">
            LIN Inventory es una potente aplicación de gestión de inventarios que permite crear,
            administrar y compartir inventarios con otros usuarios. Con funciones avanzadas como roles,
            contactos, sincronización en tiempo real e integración con Emma, la asistente de IA,
            optimiza el control de tus productos y procesos de inventario desde cualquier dispositivo.
        </p>

        @* Tarjetas *@
        <CardsDisplay>

            <MiniCard Color="inventory"
                      Tittle="Sincronización en tiempo real"
                      Description="Cualquier cambio en un inventario se refleja de inmediato en todos los dispositivos conectados." />

            <MiniCard Color="inventory"
                      Tittle="View ON"
                      Description="Comparte la vista actual de tu inventario con otro dispositivo de la misma cuenta al instante." />

        </CardsDisplay>

        @* Descripción de integración *@
        <SectionDescription Tittle="Integración">

            <IntegrationItem Tittle="Mercado Pago"
                             Description="Uso de la tecnología y seguridad de Mercado Pago."
                             Picture="./img/mercadoPago.png"
                             Background="bg-indigo-100" />

            <IntegrationItem Tittle="LIN Inventory"
                             Description="Sincroniza tus ventas y asócialos a ventas enlaces de pago."
                             Picture="./img/box.png"
                             Background="bg-[#cddfbf]" />

            <IntegrationItem Tittle="LIN Cloud Developers"
                             Description="Implementa LIN Payments en tus aplicaciones."
                             Picture="./img/key.png"
                             Background="bg-slate-300" />

        </SectionDescription>

    </BodyDescription>

</main>