@page "/about/Mail"

<Navbar Solutions="true" Classes="bg-blue-500/20 text-blue-700" />

<main class="max-w-screen mb-40">

    @* Header *@
    <HeaderDescription Tittle="LIN "
                       SubTittle="Tu correo, más inteligente que nunca."
                       DefaultColor="blue"
                       Picture="./img/mail.png"
                       Application="Mail" />

    @* Body *@
    <BodyDescription>

        <PlatformCompatibility Android="false" Windows="false" Web="true" WebUrl="https://mailapp.linplatform.com" />

        @* Descripción *@
        <p class="text-center text-lg">
            Mail es la solución moderna para gestionar tus correos de manera eficiente. Envía, programa y recibe correos con facilidad mientras aprovechas la inteligencia artificial para resumir mensajes largos y mantener tu bandeja de entrada organizada. Disponible para web, Android y Windows, Mail está diseñado para adaptarse a tu ritmo de vida.
        </p>

        @* Tarjetas *@
        <CardsDisplay>

            <MiniCard Color="[#5e7ed3]"
                      Tittle="Instantáneo"
                      Description="Envía mensajes personales o grupales en tiempo real con una interfaz rápida y sencilla." />

            <MiniCard Color="[#5e7ed3]"
                      Tittle="Envío rápido y seguro"
                      Description="Diseño intuitivo y encriptación avanzada para proteger tu información." />

        </CardsDisplay>

        <div class="mb-4 mt-10 flex -space-x-4">
            <div class="flex w-full items-center justify-center rounded border-2 border-dashed border-gray-800 p-4">
                <label class="text-gray-700">Este producto no esta disponible para organizaciones.</label>
            </div>
        </div>


    </BodyDescription>

</main>