@page "/about/Mapas"


<Navbar Solutions="true" Classes="bg-green-500/20 text-green-700" />


<main class="mb-40">
    <div class="relative" id="home">
        <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
            <div class="bg-gradient-to-br h-56 from-emerald-500 to-emerald-400 blur-[106px]"></div>
            <div class="bg-gradient-to-r h-32 from-green-400 to-green-700 blur-[106px]"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
            <div class="relative ml-auto pt-36">
                <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                    <img src="./img/map.png" class="h-20 w-20" />
                    <h1 class="mt-2 text-5xl font-bold text-gray-900 md:text-6xl xl:text-7xl">
                        LIN <span class="text-green-500">Mapas</span>.
                    </h1>
                    <p class="mt-8 text-gray-700">
                        Integración de mapas en tus proyectos y aplicaciones.
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="mx-auto mt-10 flex max-w-7xl justify-center px-6">

        <div class="md:w-2/3 lg:w-4/6">

            <p class="text-justify text-lg text-gray-600">
                Descubre LIN Maps, la API de mapas basada en Mapbox que impulsa la geolocalización en tus aplicaciones.
                Con LIN Maps, integra y personaliza mapas de forma sencilla. Visualiza ubicaciones, añade marcadores y
                crea experiencias de usuario cautivadoras. Desata el poder de la geolocalización con LIN Maps y lleva
                tus aplicaciones a nuevos horizontes.
            </p>


            <div class="mx-auto mt-7 grid max-w-2xl grid-cols-1 gap-3 lg:max-w-none lg:grid-cols-2">

                <div class="border-2 flex w-full flex-col rounded-lg border-gray-200 p-3">
                    <label class="font-bold text-green-600">Estilos</label>
                    <label class="text-sm">LIN Maps se adapta a tu proyecto con diferentes estilos y colores.</label>
                </div>

                <div class="border-2 flex w-full flex-col rounded-lg border-gray-200 p-3">
                    <label class="font-bold text-green-600">Fácil</label>
                    <label class="text-sm">LIN Maps es fácil y sencillo de integrar.</label>
                </div>

            </div>




            <div class="mt-5">
                <img src="./img/exmplemapa.png" class="w-full rounded-lg shadow grayscale duration-300 ease-in hover:grayscale-0" />
            </div>


            <section class="mt-10">

                <h2 class="text-3xl font-bold">Integrado en</h2>


                <div class="space-y-4 divide-y divide-gray-100">

                    <div class="mt-8 flex gap-4 md:items-center">
                        <div class="flex h-12 w-12 items-center justify-center gap-4 rounded-full bg-indigo-100">
                            <img src="./img/allo.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-lg font-semibold text-gray-700">
                                LIN Allo
                            </h3>
                            <p class="text-gray-500">
                                Integrado en tus chats de Allo
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-4 pt-4 md:items-center">
                        <div class="flex h-12 w-12 items-center justify-center gap-4 rounded-full bg-blue-100">
                            <img src="./img/box.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-lg font-semibold text-gray-700">
                                LIN Inventory
                            </h3>
                            <p class="text-gray-500">
                                Gestiona tus dispositivos en tiempo real.
                            </p>
                        </div>
                    </div>


                    <div class="flex gap-4 pt-4 md:items-center">
                        <div class="flex h-12 w-12 items-center justify-center gap-4 rounded-full bg-slate-300">
                            <img src="./img/key.png" class="h-6 w-6" />
                        </div>
                        <div class="w-5/6">
                            <h3 class="text-lg font-semibold text-gray-700">
                                LIN For Developers
                            </h3>
                            <p class="text-gray-500">
                                Implementa LIN Maps en tus propias aplicaciones.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</main>