@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

<div class="max-w-96xl mx-auto mt-10 flex justify-center px-6">
    <div class="text-gray-600 md:w-2/3 lg:w-4/6 dark:text-gray-400">
        @ChildContent
    </div>
</div>