@code {

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Picture { get; set; }

    [Parameter]
    public string Application { get; set; }

    [Parameter]
    public string SubTittle { get; set; }

    [Parameter]
    public string DefaultColor { get; set; }


    private string GetDefaultColor(char prefix, int number)
    {
        string pre = "";

        switch (prefix)
        {
            case 'T': pre = "text"; break;
            case 'O': pre = "to"; break;
            case 'F': pre = "from"; break;
            case 'B': pre = "bg"; break;
        }


        if (DefaultColor.StartsWith("["))
        {
            return $"{pre}-{DefaultColor}";
        }
        return $"{pre}-{DefaultColor}-{number}";
    }
}

<div class="relative">
    <div class="mx-auto max-w-7xl px-6 md:px-12 xl:px-6">
        <div class="relative ml-auto pt-36">
            <div class="mx-auto flex flex-col items-center justify-center text-center lg:w-2/3">

                <img src="@Picture" class="h-16 w-16" />
                <h1 class="mt-2 text-5xl font-bold text-gray-900 dark:text-zinc-200 md:text-6xl">
                    @Tittle<span class="@GetDefaultColor('T', 500)">@Application</span>.
                </h1>
                <p class="mt-8 text-gray-700 dark:text-zinc-400">
                    @SubTittle
                </p>
            </div>
        </div>
    </div>
</div>