@code{

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Color { get; set; }

    private string GetColor
    {
        get
        {
            if (Color.StartsWith("["))
            {
                return $"text-{Color}";
            }
            return $"text-{Color}-500";
        }
    }
}

<div class="p-3 border-gray-200 flex w-full flex-col rounded-lg border-2 dark:border-gray-500">
    <label class="@GetColor font-bold">@Tittle</label>
    <label class="text-sm">@Description</label>
</div>